<!-- {{ansible_managed}} -->
<!DOCTYPE html>
<html>
<body>

	<h1>This is my webserver {{ ansible_facts['nodename'] }}</h1>
	<p> IP-addr: {{ ansible_facts['eth1']['ipv4']['address'] }}</p>
    <p> OS: {{ ansible_facts['distribution']}}</p>
</body>
</html>