# {{ansible_managed}} 
anonymous_enable={{anonymous_enable}}
write_enable={{write_enable}}
local_umask=022
anon_upload_enable={{anon_upload_enable}}
anon_mkdir_write_enable={{anon_mkdir_write_enable}}
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
listen=YES
listen_ipv6=NO
pam_service_name=vsftpd
tcp_wrappers=YES